<div class="flex h-screen w-full justify-center items-center">
  <div
    class="w-1/2 h-auto rounded-lg bg-gray-50 pl-5 pr-5 flex flex-col items-center shadow-md"
  >
    <img
      class="flex justify-center items-center mb-5 w-48"
      id="profile-img"
      src="https://img.icons8.com/fluent/344/year-of-tiger.png"
    />
    <h2 class="text-xl text-indigo-400 pb-3 font-bold">
      BCA Advisory Program 2022
    </h2>
    <h2
      class="text-lg text-red-600 font-semibold p-3 w-full h-auto bg-red-200 rounded-md"
      *ngIf="isSignupError"
    >
      Signup failed!
    </h2>
    <div class="w-full mb-5 mx-auto flex flex-col">
      <form autocomplete="off" [formGroup]="signupForm" (ngSubmit)="signup()">
        <input
          type="text"
          placeholder="Your Name"
          class="w-full text-lg text-gray-700 border-b border-gray-400 p-2 outline-none mb-1 mt-3"
          autocomplete="off"
          name="name"
          required
          [formControlName]="'name'"
        />
        <span
          *ngIf="
            signupForm.get('name')?.hasError('required') &&
            signupForm.get('name')?.touched
          "
          class="text-red-600 text-sm"
          >Name is mandatory!</span
        >
        <span
          *ngIf="signupForm.get('name')?.hasError('minlength')"
          class="text-red-600 text-sm"
          >The minimum length for this field is
          {{signupForm.get('name')?.errors?.['minlength'].requiredLength}}
          characters.</span
        >
        <span
          *ngIf="signupForm.get('name')?.hasError('maxlength')"
          class="text-red-600 text-sm"
          >The maximum length for this field is
          {{signupForm.get('name')?.errors?.['maxlength'].requiredLength}}
          characters.</span
        >

        <input
          type="text"
          placeholder="Username"
          class="w-full text-lg text-gray-700 border-b border-gray-400 p-2 outline-none mb-1 mt-3"
          autocomplete="off"
          name="username"
          required
          [formControlName]="'username'"
        />
        <small
          *ngIf="
            signupForm.get('username')?.hasError('required') &&
            signupForm.get('username')?.touched
          "
          class="text-red-600 text-sm"
          >Username is mandatory!</small
        >
        <small
          *ngIf="signupForm.get('username')?.hasError('minlength')"
          class="text-red-600 text-sm"
          >The minimum length for this field is
          {{signupForm.get('username')?.errors?.['minlength'].requiredLength}}
          characters.</small
        >
        <small
          *ngIf="signupForm.get('username')?.hasError('maxlength')"
          class="text-red-600 text-sm"
          >The maximum length for this field is
          {{signupForm.get('username')?.errors?.['maxlength'].requiredLength}}
          characters.</small
        >

        <input
          type="password"
          placeholder="Password"
          class="w-full text-lg text-gray-700 border-b border-gray-400 p-2 outline-none mt-3 mb-1"
          autocomplete="off"
          name="password"
          required
          [formControlName]="'password'"
        />
        <small
          *ngIf="
            signupForm.get('password')?.hasError('required') &&
            signupForm.get('password')?.touched
          "
          class="text-red-600 text-sm"
          >Password is mandatory!</small
        >
        <small
          *ngIf="signupForm.get('password')?.hasError('minlength')"
          class="text-red-600 text-sm"
          >The minimum length for this field is
          {{signupForm.get('password')?.errors?.['minlength'].requiredLength}}
          characters.</small
        >

        <button
          type="submit"
          class="w-full rounded-md bg-indigo-400 p-2 text-lg focus:outline-none text-white font-bold mb-3 mt-3"
        >
          Sign up
        </button>

        <p class="w-full text-center text-gray-600 text-sm">
          Already have an account?
          <button
            class="font-bold focus:outline-none outline-none"
            [routerLink]="'/signin'"
          >
            Login
          </button>
          here
        </p>
      </form>
    </div>
  </div>
</div>
